@import url("opensanshebrew_regular/stylesheet.css");
body {
	background-image: url(orig_66555.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-family: "opensanshebrew regular";
	direction: rtl;
}
.main {
	background-color: rgba(100,100,100,0.40);
	width: 42%;
	height: auto;
	position: absolute;
	right: 49px;
	top: 5%;
	min-width: 450px;
}
.textone {
	text-align: center;
	font-family: "opensanshebrew regular";
	font-size: xx-large;
	color: rgba(255,255,255,1.00);
	padding-left: 5px;
	padding-right: 5px;
}
.texttwo {
	text-align: center;
	padding-right: 5px;
	padding-left: 5px;
	font-size: x-large;
	color: rgba(255,255,255,1.00);
}
.forminput {
	text-align: center;
	font-size: x-large;
	margin-top: 20px;
	color: rgba(255,255,255,1.00);
	padding-right: 5px;
	margin-bottom: 20px;
}
.titles {
	display: block;
	font-size: large;
}
.formtext {
	line-height: 30px;
	display: block;
	border-radius: 5px;
	border-style: none;
	font-size: large;
}
.tabledesign {
	text-align: center;
	padding-right: 20%;
	padding-left: 20%;
	margin-top: 20px;
}
.send {
	font-size: large;
	width: 50px;
	height: 50px;
	font-family: "opensanshebrew regular";
	background-color: rgba(255,255,255,1.00);
	text-align: center;
	text-shadow: 0 0;
	-webkit-box-shadow: none none;
	border: none;
	box-shadow: none none;
	border-radius: 5px;
	margin-top: 10px;
}
.send:hover {
	font-size: large;
	width: 50px;
	height: 30px;
	font-family: "opensanshebrew regular";
	background-color: rgba(0,135,46,1.00);
	text-align: center;
	text-shadow: 0 0;
	-webkit-box-shadow: none none;
	border: none;
	box-shadow: none none;
	border-radius: 5px;
	margin-top: 10px;
	color: rgba(255,255,255,1.00);
}
.logo {
	text-align: center;
	margin-top: 20px;
}

@media (max-width: 400px){
body {
	font-family: "opensanshebrew regular";
	direction: rtl;
	background-image: url(webbackground.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	padding: none;
	margin-bottom: 0px;
	clear: none;
	display: block;
}
.main {
	background-color: rgba(100,100,100,0.40);
	width: 200px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5px;
	padding-bottom: 10px;
	position: relative;
}
.textone {
	text-align: center;
	font-family: "opensanshebrew regular";
	font-size: x-large;
	color: rgba(255,255,255,1.00);
	padding-left: 5px;
	padding-right: 5px;
	width: 180px;
	margin-left: auto;
	margin-right: auto;
}
.texttwo {
	text-align: center;
	padding-right: 5px;
	padding-left: 5px;
	font-size: medium;
	color: rgba(255,255,255,1.00);
	width: 180px;
	margin-left: auto;
	margin-right: auto;
	display: none;
}
.forminput {
	text-align: center;
	font-size: large;
	color: rgba(255,255,255,1.00);
	padding-right: 5px;
	margin-bottom: 20px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 5px;
}
.titles {
	display: block;
	font-size: large;
}
.formtext {
	line-height: 30px;
	display: block;
	border-radius: 5px;
	border-style: none;
	font-size: large;
}
.tabledesign {
	text-align: center;
	padding-right: 20%;
	padding-left: 20%;
	margin-top: 20px;
}
.logo {
	text-align: center;
	margin-top: 20px;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}
}
