@font-face {
	font-family: 'opensanshebrew regular';
	src: url('opensanshebrew-regular-webfont.eot');
	src: url('opensanshebrew-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('opensanshebrew-regular-webfont.woff') format('woff'),
		url('opensanshebrew-regular-webfont.ttf') format('truetype'),
		url('opensanshebrew-regular-webfont.svg') format('svg');
}